<app-banner>
  <h1 class="is-size-2 has-text-link">Currency Calculator</h1>
  <div class="content">
    <h2>Admin Access</h2>
    <form (ngSubmit)="signIn(frmSignin)" #frmSignin="ngForm">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input is-rounded" name="email" type="email" placeholder="Email" required ngModel>
          <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
          <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
        </p>
      </div>
      <div class="field ">
        <p class="control has-icons-left">
          <input class="input is-rounded" name="password" type="password" placeholder="Password" required ngModel>
          <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
        </p>
      </div>
      <div class="field is-horizontal">
        <p class="control">
          <input type="submit" class="button is-link is-rounded is-centered" value="Log in">
        </p>
      </div>
    </form>
  </div>
</app-banner>