/* Add application styles & imports to this file! */
@import 'bulma/css/bulma.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@font-face {
  font-family: 'Montserrat-bold';
  src: url('https://res.cloudinary.com/ddhmcvtys/raw/upload/v1621081368/Montserrat-Bold_gd4gvs.ttf')
    format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat-medium';
  src: url('https://res.cloudinary.com/ddhmcvtys/raw/upload/v1621081841/Montserrat-Medium_wgpjfm.ttf')
    format('truetype');
  font-weight: 300;
}

.blue {
  color: #3273dc;
}

.bold {
  font-weight: bold;
}

body {
  font-family: 'Montserrat-medium';
}

h1,
h2,
h3,
h4,
p,
a,
input,
select {
  font-weight: 800;
  font-family: 'Montserrat-bold';
}
